body {
  background-color: grey;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: white;
  
}

.is-valid {
  background-color: #198754;
}

.is-invalid {
  background-color: #842029;
}

ul {
  text-align: justify; 
}
