<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrando una peli...</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Vas a borrar: <%= Movie.title %>, seguro???</h1>
    <p>
        <form action="/delete/<%= Movie.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Si</button>
            <a  class="botonVolver" href="/">No</a></p>

        </form>
    </p>
    
</body>

</html>