<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas las pelis</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <h1 id="titulo"></h1>
    
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a  href="/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
        </li>
        <% } %>

    </ul>

    <br>
    <% if(locals.userRol==1){ %>
    <p>
        <a class="logged" href="/add">Agregar otra peli</a>
    </p>
    <%} %>
    <br>
    <Fieldset>
        <% if(!locals.isLogged){ %>
        <a class="notLogged" href="/users/register">Registrarme</a>
        <a class="notLogged" href="/users/login">Ingresar</a>
        <%} %>
        <% if(locals.isLogged){ %>
        <a class="logged" href="/users/logout">Salir</a>
        <%} %>
    </Fieldset>
    <script src="/js/list.js"></script>    
</body>
</html>